.jc {
    justify-content: center;
}

.je {
    justify-content: space-evenly;
}

.jend {
    justify-content: end;
}

.jb {
    justify-content: space-between;
}

.text-descriccion {
    min-height: 90px !important;
} 

.home-descripcion {
    width: 90%;

}

.list-table {
    min-height: 340px;
}

.sub-nombre {
    margin-left: 53px;
}

.bordT {
    border-top: solid 1px #e0e0e0;
}

.logo-side {
    width: 60px ;
}
.fila-100 {
    width: 100%;
}

.p-small {
    font-size: 14px;
    font-family: lato;
}

.arr {
    margin-left: 4.5%;
}